.Heading{
  text-align: center;
}
.main{
  width: 500px;
  border: 2px solid rgb(253, 214, 220);
  padding: 20px;
  background-color: rgb(253, 214, 220);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: translateX(-50%);
  margin-left: 50%;
}

input{
  height: 20px;
  width: 250px;
  border-radius: 10px;
 padding: 10px;
 font-size: 20px;
 margin-right: 20px;
}
button{
  padding: 10px;
  font-size: 20px;
 cursor: pointer;
 background-color: rgb(2, 2, 91);
  color: white;
  border: none;
  border-radius: 10px;
}
.Btn{
  width: 80px;
}
ul > li{
  font-size: 20px;
  margin-bottom: 10px;
}